.title {

    .tableUser {
        font-size    : 24px;
        font-weight  : 500;
        color        : rgb(55, 55, 58);
    }

    display           : flex;
    justify-content   : space-between;
    margin-bottom     : 10px;
}